{
  hostList: [
    {
      host: 'mobilegw.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: 10000,
      reportRepeat: 100,
      overflowRepeat: 200,
      degradeRepeat: 700,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: 'mobilegwlong.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: 10000,
      reportRepeat: 100,
      overflowRepeat: 200,
      degradeRepeat: 700,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: 'mclient.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: 10000,
      reportRepeat: 100,
      overflowRepeat: 200,
      degradeRepeat: -1,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: 'mcgw.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: 10000,
      reportRepeat: 100,
      overflowRepeat: 200,
      degradeRepeat: -1,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: 'msp.alipay.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: 10000,
      reportRepeat: 100,
      overflowRepeat: 200,
      degradeRepeat: -1,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: '.amap.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: 10000,
      reportRepeat: 60,
      overflowRepeat: 60,
      degradeRepeat: 100,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: 'acjs.aliyun.com',
      reportSize: 4000,
      overflowSize: 6000,
      degradeSize: 10000,
      reportRepeat: 30,
      overflowRepeat: 60,
      degradeRepeat: 100,
      chunkSizeThreshold: -1,
      chunkReportRepeat: -1,
      chunkOverflowRepeat: -1,
      chunkDegradeRepeat: -1
    },
    {
      host: 'django.t.taobao.com',
      reportSize: 20000,
      overflowSize: 40000,
      degradeSize: -1,
      reportRepeat: 20,
      overflowRepeat: 80,
      degradeRepeat: -1,
      chunkSizeThreshold: 50,
      chunkReportRepeat: 4,
      chunkOverflowRepeat: 10,
      chunkDegradeRepeat: -1
    },
    {
      host: 'download.alipay.com',
      reportSize: 100000,
      overflowSize: 150000,
      degradeSize: 200000,
      reportRepeat: 10,
      overflowRepeat: 40,
      degradeRepeat: 100,
      chunkSizeThreshold: 50,
      chunkReportRepeat: 2,
      chunkOverflowRepeat: 5,
      chunkDegradeRepeat: 10
    },
    {
      host: 'tfsimg.alipay.com',
      reportSize: 100000,
      overflowSize: 150000,
      degradeSize: 200000,
      reportRepeat: 10,
      overflowRepeat: 40,
      degradeRepeat: 100,
      chunkSizeThreshold: 50,
      chunkReportRepeat: 2,
      chunkOverflowRepeat: 5,
      chunkDegradeRepeat: 10
    },
    {
      host: '.alipayobjects.com',
      reportSize: 100000,
      overflowSize: 150000,
      degradeSize: 200000,
      reportRepeat: 10,
      overflowRepeat: 40,
      degradeRepeat: 100,
      chunkSizeThreshold: 50,
      chunkReportRepeat: 2,
      chunkOverflowRepeat: 5,
      chunkDegradeRepeat: 10
    },
    {
      host: '.taobaocdn.com',
      reportSize: 100000,
      overflowSize: 150000,
      degradeSize: 200000,
      reportRepeat: 10,
      overflowRepeat: 40,
      degradeRepeat: 100,
      chunkSizeThreshold: 50,
      chunkReportRepeat: 2,
      chunkOverflowRepeat: 5,
      chunkDegradeRepeat: 10
    },
    {
      host: '.alicdn.com',
      reportSize: 100000,
      overflowSize: 150000,
      degradeSize: 200000,
      reportRepeat: 10,
      overflowRepeat: 40,
      degradeRepeat: 100,
      chunkSizeThreshold: 50,
      chunkReportRepeat: 2,
      chunkOverflowRepeat: 5,
      chunkDegradeRepeat: 10
    },
    {
      host: 'default',
      reportSize: 100000,
      overflowSize: 150000,
      degradeSize: -1,
      reportRepeat: 10,
      overflowRepeat: 100,
      degradeRepeat: 700,
      chunkSizeThreshold: 50,
      chunkReportRepeat: 2,
      chunkOverflowRepeat: 5,
      chunkDegradeRepeat: 10
    }
  ],
  urlList: [
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.switches.all.get.afterlogin',
      reportRepeat: 30,
      overflowRepeat: 70,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.strategies.get.afterlogin',
      reportRepeat: 30,
      overflowRepeat: 70,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.client.reportActive',
      reportRepeat: 30,
      overflowRepeat: 70,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.bill.deleteBillInfo',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.livetradeprod.soundWave.queryBuyerPayResult',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.aggrbillinfo.job.findTaskStatus',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.quotation.query.quotation',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.quotation.query.quote.list',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.common.query.stockconfig',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mstockprod.trade.config',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobileprod.aapay.queryAAPayResult',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobileprod.aapay.queryAAPayState',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: 700
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.bpullchats',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.pullchats',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.share',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.send',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.chat.mark',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.biz.crowd.receiveQuery',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.biz.crowd.crowdReceive',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.biz.crowd.scratchReceiveQuery',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.biz.crowd.scratchCrowdReceive',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.mygift.query.receivelist',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.mygift.query.sendlist',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.giftprod.mygift.query.beglist',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.giftMessage.query.receivelist',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.giftMessage.query.sendlist',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.newCoupon.catchCat.getConfig',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.newCoupon.catchCat.lottery',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.newCoupon.query.detail',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilepromo.coupon.apply.couponWithdraw',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilecodec.beaconReport',
      reportRepeat: 300,
      overflowRepeat: 600,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.relation.getProfile',
      reportRepeat: 300,
      overflowRepeat: 700,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilechat.group.query',
      reportRepeat: 300,
      overflowRepeat: 700,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobilechat.sendMsg',
      reportRepeat: 300,
      overflowRepeat: 700,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm#alipay.mobile.relation.friendRequest',
      reportRepeat: 300,
      overflowRepeat: 700,
      degradeRepeat: -1
    },
    {
      url: 'http://110\\.76\\.\\d+\\.\\d+/gateway\\.do',
      reportRepeat: 100,
      overflowRepeat: 200,
      degradeRepeat: -1
    },
    {
      url: 'https://mobilegw.alipay.com/mgw.htm',
      reportRepeat: 60,
      overflowRepeat: 70,
      degradeRepeat: -1
    }
  ],
  uploadOverflowSize: 15000,
  downloadOverflowSize: 50000,
  totalOverflowSize: 75000
}